corpo {
    cor : Marrom;
    font-family : Arial , Helvetica , sans-serif;
    margem :  1 px  30 % ;
}
p {
    tamanho da fonte :  12 px ;
}
pág . centro {
    alinhamento de texto : centro;
}
pág . certo {
    alinhamento de texto : direito;
}
 42 alterações: 42 adições e 0 exclusões42 
2° Bi/Atv02/imagine.html